@font-face {
  font-family: "IlluFont";
  src: url("//db.onlinewebfonts.com/t/a4a2a1b5eed20ed5a74b2193a62398f6.ttf") format("truetype");
}

.App {
  font-family: "Amazon-Ember", Arial, Helvetica, sans-serif;
  text-align: center;
}

.App-logo {
  z-index: 2;
  letter-spacing: 11px;
  font-size: 60px;
  line-height: 3;
  font-weight: 700;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#Form_Projects {
  margin: 20px;
}

.next-line {
  word-wrap: break-word;
}

#ProjectHead {
  font-family: "IlluFont";
  letter-spacing: 2px;
  font-size: 60px;
  line-height: 1;
  font-weight: 800;
  pointer-events: none;
  display: inline;
}

.jumbotron {
  margin-bottom: 0rem;
  padding: 0rem 0rem;
}

#image {
  display: inline;
}

img {
  width: 55px;
}

#ProjectDatabase {
  border-top: 100;
  border-bottom: 100;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    top: 0px;
  }

  50% {
    top: 100px !important;
  }

  /* ignored */
  to {
    top: 200px;
  }
}

.jss13 {
  z-index: 0 !important;
}